.contenedor{

    padding: .1rem;
    background: #da6335;
}
.contenedor div{

  padding: 1rem;
  background: #92e9ec;
  border:.01rem solid #d6cbbd;
  border-top-right-radius: .5rem;


}

.FondoNav{
background-color: #db8400;

}
.FondoNav1{
  background-color: #7184da;
  
  }
.contenedor div a  {
 
  text-decoration-line: none;
  color: black;
  

}
.contenedor div a:hover{
  color: #566e56;


}
.Sociales ul li{
  list-style: none;
  


}
.Sociales ul li .face:hover {
color: #0a0897;


}
.Sociales ul li .whats:hover:hover {
  color: #0c9717;
  
  
  }
  .Sociales ul li .twit:hover {
  color: #199ad6;
    
    
    }
    .Sociales ul li .you:hover {
    color: #d61919;
      
      
      }
      .col img{

        justify-items:center;
        margin-top:2rem;
      }
    
      .centrado{
        margin-left: auto;
        margin-right: auto;
      }

      .piepagina{
        padding:7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-justify: center;
        
      }
     
      .row .modificar{
        background: #0f0f0e;


      }
      .LetraReferencias{
        font-size: 1rem;
        font-family: 'Times New Roman';
        color: #beb0b0;
      }
      .LetraTitulo1{
        font-size: 2rem;
        color: #012e68;
        font-family:'Times New Roman';
      }
      .LetraTitulo2{
        font-size: 1.5rem;
        color: #000000;
        font-family:'Times New Roman';
      }
      .LetraParrafos{
        font-size: 1.3rem;
        color: #000000;
        font-family:'Times New Roman';
      }
      .LetraParrafos1{
        font-size: 2 rem;
        color: #000000;
        font-family:'Times New Roman';
      }
      .BotonLink  {
 
        text-decoration-line: none;
        color: black;
        
      
      }
      .BotonLink:hover  {
 
        text-decoration-line: none;
        color: black;
        
      }
      .bloque  {
 
        display: inline;
        justify-content: space-between;
      }
     

      .tituloBienvenida{

        font-size: 2rem;
      }
      @media(min-width:992px){
        .tituloBienvenida{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 3rem;


        }


      }
      @media(min-width:992px){
        .piepagina{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 1rem;
          

        }


      }